body{
    background-color: #FFFFFF;
    padding: 0;
    margin: 0;
    text-align: center;
    font-family: 'Roboto', arial;
}
.navbar{
    display: flex;
    background-color: #1F2937;
    flex-direction: row;
    align-items: center;
}
.navbar-link{
    margin-right: 5%;
}
.navbar-link a{
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}
#header-text{
    margin-right: auto;
    color:#F9FAF8;
    font-size:24px;
}
#logo{
    width: 32px;
    height: 32px;
    padding:10px;
    
}
.hero{
    display: flex;
    color: #F9FAF8;
    background-color: #1F2937;
    padding-bottom:20px
}
.hero h1{
    font-size: 48px;
}
.hero-element{
    display: flex;
    flex-direction:column;
    margin:auto;
    text-align:left;
    padding-left:5%;
}
.hero-element p{
    font-size:18px;
    color:#E5E7EB;
}
#hero-image{
    width:75%;
}
#hero-logo{
    background-color: #3882f6;
    border-radius: 10px;
    font-size: 24px;
    width:max-content;
    padding:2px 20px;
}
.information{
    display:flex;
    flex-direction: column;
    align-items: center;
}
.information-list img{
    width:128px;
    border:5px solid #3882f6;
    border-radius:5px;
}
.information-list{
    display: flex;
    flex-direction:row;
    justify-content: space-evenly;
    font-size:18px;
    color:#E5E7EB;
    width:60%;
}
#quote-box{
    background-color: #E5E7EB;
    padding-top:3%;
    padding-bottom: 3%;
}
#quote-section{
    display: flex;
    flex-direction: column;
    width:60%;
    margin:auto;
}
#quote{
    font-size:36px;
    font-style:italic;
    font-weight: lighter;
    color:#1F2937;
}
#quote-author{
    font-size:24px;
    font-weight:bold;
    text-align: end;
}
#footy{
    background-color: #1F2937;
    color: #E5E7EB;
    padding-top:24px;
    padding-bottom:24px;
}