body{
    background-color: #FFFFFF;
    padding: 0;
    margin: 0;
    text-align: center;
    font-family: 'Roboto', arial;
}
.navbar{
    display: flex;
    background-color: #1F2937;
    flex-direction: row;
    align-items: center;
}
.navbar-link{
    margin-right: 5%;
}
.navbar-link a{
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}
#header-text{
    margin-right: auto;
    color:#F9FAF8;
    font-size:24px;
}
#logo{
    width: 32px;
    height: 32px;
    padding:10px;
    
}
.hero{
    display: flex;
    color: #F9FAF8;
    background-color: #1F2937;
}
.hero h1{
    font-size: 48px;
}
.hero-element{
    display: flex;
    flex-direction:column;
    margin:auto;
    text-align:left;
    padding-left:5%;
}
.hero-element p{
    font-size:18px;
    color:#E5E7EB;
}
#hero-image{
    width:80%;
    height:80%;
}
#hero-logo{
    background-color: #3882f6;
    border-radius: 10px;
    font-size: 24px;
    width:max-content;
    padding:2px 20px;
    text-decoration: none;
}